@-webkit-keyframes loading {
    from {
        left: 0%;
    }
    to {
        left: 96%;
    }
}

@-webkit-keyframes player1hover {
    from {
        left: 0%;
    }
    to {
        left: 40%;
    }
}

@-webkit-keyframes player2hover {
    from {
        left: 0%;
    }
    to {
        left: 40%;
    }
}